[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "libhv"]
	path = libhv
	url = https://github.com/ithewei/libhv.git
[submodule "wpa_supplicant"]
	path = wpa_supplicant
	url = https://github.com/fluispotter/hostap.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
	branch = fmt-11.2.0
[submodule "sdl2"]
	path = sdl2
	url = https://github.com/libsdl-org/SDL.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "tinygl"]
	path = tinygl
	url = https://github.com/C-Chads/tinygl.git
