[submodule "lvgl"]
	path = lib/lvgl
	url = https://github.com/lvgl/lvgl.git
	ignore = dirty
[submodule "libhv"]
	path = lib/libhv
	url = https://github.com/ithewei/libhv.git
	ignore = dirty
[submodule "wpa_supplicant"]
	path = lib/wpa_supplicant
	url = https://github.com/fluispotter/hostap.git
	ignore = dirty
[submodule "spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = fmt-11.2.0
[submodule "sdl2"]
	path = lib/sdl2
	url = https://github.com/libsdl-org/SDL.git
[submodule "glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "openvdb"]
	path = lib/openvdb
	url = https://github.com/AcademySoftwareFoundation/openvdb.git
[submodule "lib/ftxui"]
	path = lib/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI.git
[submodule "lib/cpp-terminal"]
	path = lib/cpp-terminal
	url = https://github.com/jupyter-xeus/cpp-terminal.git
